<div class="row">
  <div class="col-md-6 col-md-offset-3">

    {{#link-to "recipes.index"}}List All Recipes{{/link-to}}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{model.profile.first_name}} {{model.profile.last_name}}</h4>
        <p>
          {{model.profile.bio}}
        </p>
      </div>
      <div class="panel-body">

        <h4>Tagline</h4>
        <p>
          {{model.profile.tagline}}
        </p>

        <h4>Location</h4>
        <p>
          {{model.profile.city}}, {{model.profile.state}}
        </p>

      </div>
    </div>

  </div>
</div>