
<%= form_for @profile, url: user_profile_path(current_user) do |profile_fields| %>
  <%= profile_fields.label :tagline %>
  <%= profile_fields.text_field :tagline %>
  <br>
  <%= profile_fields.label :bio %>
  <%= profile_fields.text_area :bio %>
  <br>
  <%= profile_fields.label :first_name %>
  <%= profile_fields.text_field :first_name %>
  <br>
  <%= profile_fields.label :last_name %>
  <%= profile_fields.text_field :last_name %>
  <br>
  <%= profile_fields.label :city %>
  <%= profile_fields.text_field :city %>
  <br>
  <%= profile_fields.label :state %>
  <%= profile_fields.text_field :state %>
  <br>
  <div id="avatar_preview"></div>
  <br>
  <%= profile_fields.label :avatar %>
  <%= profile_fields.file_field :avatar %>
  <br>
  <%= profile_fields.fields_for :tag do |tag_fields| %>
    <%= tag_fields.label "Add Tag" %>
    <%= tag_fields.text_field :name %>
  <% end %>
  <br>
  <%= profile_fields.submit %>
<% end %>

<script>
  $(function() {
    $('#profile_avatar').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image(250, 250);
        img.src = file.target.result;
        $('#avatar_preview').html(img);
      }
      reader.readAsDataURL(image);
    });
  });
</script>
