<h1><%= @profile.first_name %> <%= @profile.last_name %>'s Profile</h1>
<h2><%= @profile.tagline %></h2>
<p><%= @profile.bio %></p>
<p><%= @profile.city %>, <%= @profile.state %></p>
<% if @profile.user_id == current_user.id %>
  <%= link_to 'Edit', edit_user_profile_path(current_user) %>
<% end %>