


<%= form_for @recipe do |recipe_fields| %>

  <%= recipe_fields.label :name %>:
  <%= recipe_fields.text_field :name%><br>

  <%= recipe_fields.label :description %>:
  <%= recipe_fields.text_area :description%><br>

  <%= recipe_fields.label :prep_time %>:
  <%= recipe_fields.number_field :prep_time%><br>

  <%= recipe_fields.label :cook_time %>:
  <%= recipe_fields.number_field :cook_time%><br>

  <%= recipe_fields.label :instructions %>:
  <%= recipe_fields.text_area :instructions%><br><br>

  <%= recipe_fields.fields_for :recipe_ingredient do |recipe_ingredient| %>
    <li>
      <ul>
        Ingredient:
        <%= recipe_ingredient.collection_select :ingredient_id, Ingredient.all, :id, :name %>
        Qty:
        <%= recipe_ingredient.number_field :quantity%>
        <%= recipe_ingredient.collection_select :unit_id, Unit.all, :id, :unit_type %><br>
      </ul>
    </li>
  <% end %>

  <div id="recipe_photo_preview"></div>

  <%= recipe_fields.fields_for :photo do |photo_field| %>
    <%= photo_field.label "Upload Photos (Can Select Multiple)" %>
    <%= photo_field.file_field :photos, multiple: :true %>
  <% end %>

  <br>

  <%= recipe_fields.fields_for :tag do |tag_fields| %>
    <%= tag_fields.label "Add Tag" %>
    <%= tag_fields.text_field :name %>
  <% end %>

  <br>

  <%= recipe_fields.submit %>
<% end %>

<script>
  $(function() {
    $('#recipe_photo_photos').on('change', function(event) {
      var files = event.target.files;
      var image = files;
      for (var i in image) {
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image(500, 500);
          img.src = file.target.result;
          $('#recipe_photo_preview').append(img);
        }
        reader.readAsDataURL(image[i]);
      }
    });
  });
</script>
