<h1><%= @recipe.name %></h1>
<h2><%= @recipe.description %>
<h3>Prep Time: <%= @recipe.prep_time %></h3>
<h3>Cook Time: <%= @recipe.cook_time %></h3>
<p><%= @recipe.description %></p>
<p><%= @recipe.instructions %></p>

<% if current_user.recipes_saved.include?(@recipe) %>
  <%= link_to 'Remove Saved Recipe', user_saved_recipe_path(current_user, @recipe), method: :delete %>
<% else %>
  <%= link_to 'Save Recipe', user_saved_recipes_path(user_id: current_user.id, recipe_id: @recipe.id), method: :post %>
<% end %>

<% if current_user.recipes_made.include?(@recipe) %>
  <%= link_to 'Remove Made Recipe', user_made_recipe_path(current_user, @recipe), method: :delete %>
<% else %>
  <%= link_to 'Made Recipe', user_made_recipes_path(user_id: current_user.id, recipe_id: @recipe.id), method: :post %>
<% end %>

<% if @recipe.user_id = current_user.id %>
  <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
<% end %>

<%= form_for [@recipe, @comment] do |comment_fields| %>
  <%= comment_fields.label :comment_description %>
  <%= comment_fields.text_area :comment_description %>
  <br>
  <%= comment_fields.submit %>
<% end %>

<% @recipe.comments.each do |comment| %>
  <p><%= comment.comment_description %></p>
  <% if current_user.id == comment.user_id %>
    <%= link_to 'Delete', recipe_comment_path(@recipe, comment), method: :delete %>
  <% end %>
<% end %>