<div class="row">

  {{#each model as |subscription|}}
    <div class="col-xs-6 col-sm-4 col-md-3 subscription-holder">
      <div class="panel panel-default subscription-preview">

        <div class="panel-heading">
          <h5>{{#link-to "subscriptions.show" subscription}}
           {{subscription.profile.first_name}} {{subscription.profile.last_name}}
            - {{subscription.email}}
           {{/link-to}}
           <br> 
            ({{subscription.subscriptions.length}} subscriptions,
             {{subscription.recipes.length}} contributed recipes,
             {{subscription.made_recipes.length}} recipes made)
          </h5>
        </div>

        <div class="panel-body">
          <p>
            {{subscription.subscriber_id}}
          </p>
        </div>

      </div>
    </div>
  {{/each}}

</div>

{{outlet}}
