<!DOCTYPE html>
<html ng-app="reciffy">
  <head>
    <title>Reciffy</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="pure-container" data-effect="pure-effect-reveal">
      <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left">
      <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left">
        <span class="pure-toggle-icon"></span>
      </label>
      <!-- Hidden Menu Content Goes Here -->
      <div class="pure-drawer" data-position="left">
        <div>HELLO</div>
      </div>
      <div class="pure-pusher-container">
        <!-- Site Content Goes Here -->
        <div class="pure-pusher">

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-right">
                <% if user_signed_in? %>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger navbar-btn" %>
                <% else %>
                  <%= link_to "Sign In", new_user_session_path, class: "btn btn-success navbar-btn" %>
                  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary navbar-btn" %>
                <% end %>
              </div>
            </div>
          </nav>
          <%= render partial: 'shared/flash' %>
          <%= yield %>
        </div>
      </div>
      <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
    </div>

  </body>
</html>
