<!DOCTYPE html>
<html>
  <head>
    <title>Reciffy</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Reciffy
          </a>
        </div>
        <div class="navbar-right">
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger navbar-btn" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-success navbar-btn" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary navbar-btn" %>
          <% end %>
        </div>
      </div>
    </nav>

    <%= render partial: 'shared/flash' %>

    <% if user_signed_in? %>
      <%= render_ember_app :frontend do |head, body| %>
        <% head.append do %>
          <%= csrf_meta_tags %>
        <% end %>

        <% body.append do %>

        <% end %>
      <% end %>
    <% else %>
      <main class="container">
        <%= yield %>
      </main>
    <% end %>

  </body>
</html>
