<!DOCTYPE html>
<html>
  <head>
    <title>Reciffy</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="reciffy">
    <div class="pure-container" data-effect="pure-effect-reveal">
      <!-- Hidden Menu Content Goes Here -->
      <%= render partial: 'shared/hidden_menu' %>

      <div class="pure-pusher-container">
        <!-- Site Content Goes Here -->
        <div class="pure-pusher">

          <%= render partial: 'shared/navbar' %>

          <div class="container">

            <div class="row">
              <div class="col-xs-12">
                <%= render partial: 'shared/flash' %>
              </div>
            </div>

            <%= yield %>

          </div>

          <%= render partial: 'shared/footer' %>

        </div>
      </div>
      <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
    </div>

  </body>
</html>
